[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
jwt = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-bcrypt = "*"
marshmallow-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
flask-cli = "*"
flask-login = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.10"
